
#map {
  height: 70%;
  width: 70%;
  display: inline-block;
}

#weather{
   width: 30%;
  display: inline-block;
  float:right;
}

#charts{
    height: 30%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


