<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
        <title>DublinBikes</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
    <header>
        <nav style="background-color: grey;color: white;text-align: center;margin: 0 0 0 0 ;">
            <h1>DublinBikes</h1>
            <a href="map.html">Map</a>|
            <a href="list.html">List</a>|
            <a href="find_bikes.html">Find a bike</a>|
            <a href="return_bikes.html">Return the bike</a>
        </nav>
        <div class="dropdown_Menu">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-contenr">
                <a href="map.html">Map</a>
                <a href="list.html">List</a>
                <a href="find_bikes.html">Find a bike</a>
            </div>
        </div>
    </header>
    <div id="hero-image">
        <div id="bg">
            <img src="bikes.jpg" alt="">
        </div>
        <div class="main_container">
            {# main content is in this block #}
            {% block main_content %}
            {% endblock %}
        </div>
        <div class="weather_container">
            {# weather content is in this block #}
            {% block weather_content %}
            {% endblock %}
        </div>
        <div class="other_container">
            {# other content is in this block #}
            {% block other_content %}
            {% endblock %}
        </div>
    </div>
    <footer>
        <div class="bottom">
            <p>Useful links</p>
            <p>Please <a href="contact.html">contact</a> us directly</p>
        </div>
    </footer>
    </body>
</html>
        
        
        
        