<!DOCTYPE html>
<html>

  <head>
      <meta charset = "utf-8">
      <title>Map</title>
      <link href="{{url_for('static',filename='style.css')}}" rel="stylesheet" type="text/css" />
      <script src= "static/scripts.js"></script>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  </head>

    
  <body>
    <div id="nav">
	<div id="search_bar_datalist"></div>
	<input id="submit" type="button" value="Search" />
        <input onclick="hideMarkers();" type="button" value="bank=1" />
        <input onclick="showMarkers();" type="button" value="bank=0/1" />
        <input onclick="show_available_bikes();" type="button" value="available_bikes" />
        <input onclick="show_available_spaces();" type="button" value="available_spaces" />
        <input onclick="show_available_e_bikes();" type="button" value="available_E-bikes" />
        <b>Start: </b><select id="start"></select>
        <b>End: </b><select id="end"></select>
    </div>
    </div>
    <div id="map"></div>
    <div id ="weather"></div>
    <div id ="Week_Charts"></div>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAubX7dljs_6l5yelGgSdoKArHWgYTwSdk&callback=initCharts&libraries=&v=weekly" async ></script>
</body>
</html>
