<!DOCTYPE html>
<html>

<head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dublin Bikes Map</title>
    <link rel="icon" href="static/pictures/Logo.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
    <link href="{{url_for('static',filename='style.css')}}" rel="stylesheet" type="text/css" />
    <script src= "static/scripts.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</head>

    
<body class ="bg-secondary">
    <div class="container-fluid">
        <div class = "row bg-dark text-light text-center">
            <div class = "col-md-4 col-xl-2">
                <img src = "static/pictures/Logo.png" class="img-fluid">
            </div>
            <div class="col-md-4 col-xl-2">
                <h5>Searchbar</h5>
                <div class="input-group">
                    <div id="search_bar_datalist"></div>
                    <button  id="search_button" type="button" class="btn btn-primary">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-4 col-xl-2">
                <h5>Filter Options</h5>
                <ul class="list-unstyled">
                    <li>
                        <label class="form-check-label text-light">
                            <input type="checkbox" class="form-check-input" id="graph_button">Show Weekly Data
                        </label>
                    </li>
                    <li>
                        <label class="form-check-label text-light">
                            <input onclick="showhideMarkers();" type="checkbox" class="form-check-input" id="banking_switch"  checked>Show Stations without Payment Terminals
                        </label>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-xl-2">
                <h5>Marker Labels</h5>
                <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-info active" onclick="change_labels('bikes');">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> Free Bikes
                    </label>
                    <label class="btn btn-info" onclick="change_labels('spaces');">
                        <input type="radio" name="options" id="option2" autocomplete="off"> Free Spaces
                    </label>
                    <label class="btn btn-info" onclick="change_labels('e_bikes');">
                        <input type="radio" name="options" id="option2" autocomplete="off"> Free Electric Bikes
                    </label>
                </div>
            </div>
            <div class="col-md-4 col-xl-2">
                <h5>Route Planner</h5>
                <ul class="list-unstyled text-justify">
                    <li>
                        <label>Start: </label>
                        <select id="start"></select>
                    </li>
                    <li>
                        <label>End: </label>
                        <select id="end"></select>
                    </li>
                </ul>
            </div>
        </div>
           
        <div class = "row">
            <div class="col-12 col-xl-10">
                <div id="map" class = "map-responsive"></div>
                <div id ="Week_Charts"></div>
            </div>
            <div class = "col-12 col-xl-2 text-light text-center">
                <div class= "container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-xl-12">
                            <h2>Weather</h2>
                            <div id ="weather"></div>
                        </div>
                        <div class="col-md-6 col-xl-12">
                            <h2>Bike Prediction</h2>
                            <div id = "prediction-time">
                                <ul class="list-unstyled">
                                    <li>
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" id="prediction_switch" unchecked /> Show predictions
                                        </label>
                                    </li>
                                    <li>
                                        <label>Date</label>
                                        <input type="date" id="date"
                                            name="date" value = "{{ minTime.date() }}",
                                            min="{{ minTime.date() }}", max="{{ maxTime.date() }}">
                                    </li>
                                    <li>
                                        <label>Time</label>
                                        <select id="time">
                                            <option value="05:00">05:00-6:00</option>
                                            <option value="06:00">06:00-7:00</option>
                                            <option value="07:00">07:00-8:00</option>
                                            <option value="08:00">08:00-09:00</option>
                                            <option value="09:00">09:00-10:00</option>
                                            <option value="10:00">10:00-11:00</option>
                                            <option value="11:00">11:00-12:00</option>
                                            <option value="12:00">12:00-13:00</option>
                                            <option value="13:00">13:00-14:00</option>
                                            <option value="14:00">14:00-15:00</option>
                                            <option value="15:00">15:00-16:00</option>
                                            <option value="16:00">16:00-17:00</option>
                                            <option value="17:00">17:00-18:00</option>
                                            <option value="18:00">18:00-19:00</option>
                                            <option value="19:00">19:00-20:00</option>
                                            <option value="20:00">20:00-21:00</option>
                                            <option value="21:00">21:00-22:00</option>
                                            <option value="22:00">22:00-23:00</option>
                                            <option value="23:00">23:00-24:00</option>
                                        </select>
                                    </li>
                                </ul>
                            </div>
                            <div id = "display-prediction"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAubX7dljs_6l5yelGgSdoKArHWgYTwSdk&callback=initCharts&libraries=&v=weekly" async ></script>

</body>
</html>